<div class="message-support" id="message-support-<%= message.id %>">
	<div class="message" id="message-<%= message.id %>">
		<div class="usernameAndTimeBox">
			<% if message.user_id.present? %>
				<%= link_to message.user.name, user_path(message.user_id),class: "message_username" %>
			<% end %>
			<% if message.bot == true && message.user_id.blank? %>
				<p class="message_username">BOT</p>
			<% end %>
			<% if message.bot == false && message.user_id.blank? %>
				<p class="message_username">名無し</p>
			<% end %>
			<div class="usettimeAndDeleteBox">
				<p class="agomessage"><%= time_ago_in_words(message.created_at) + "前" %></p>
				<% if user_signed_in? %>
					<% if message.user_id == current_user.id %>
						<button id="<%= message.id %>" class="delete_btn">
							<%= image_tag "ゴミ箱のアイコン素材.png", class: "deleteBtnImage", id: "#{message.id}" %>
						</button>
						<button id="edit_click-<%= message.id %>" class="edit_click">
							<%= image_tag "鉛筆のアイコン素材.png"%>
						</button>
					<% end %>
				<% end %>
				<% if message.edit_right == true %>
					<p class="finished_editing">(編集済み)</p>
				<% end %>
			</div>

		</div>
		<div id="message-<%= message.id %>-box">
			<div id="message-content-<%= message.id %>" class="message-contents">
				<%= raw Rinku.auto_link(simple_format(h(message.content), class: "message_content rinku-auto-link", id: "message-link-#{message.id}"), :all,'target="_blank"') %>
			</div>
			<% if user_signed_in? %>
				<% if current_user.id == message.user_id %>
					<div id="edit_form_box_<%= message.id %>" class="editform">
						<div class="imguploader">
							<%= form_with model: Message.find(message.id), local: false do |f| %>
								<%= f.file_field :image, id: "img-value-form-message-#{message.id}", class: "img-value" %>
								<div class="file-name-box">
									<% if message.image? %>
										<p id="file-name-message-<%= message.id %>" class="file-name-choose-message"><%= message_url(message.image.url, message.id) %></p>
									<% end %>
								</div>
								<span id="img-form-button-message-<%= message.id %>" class="file-button-choose">ファイルを選択</span>

								<%= f.hidden_field :room_id, value: message.room_id %>
								<%= f.submit "画像をアップロード" %>
							<% end %>
						</div>
						<%= text_area_tag :content, message.content ,data: {behavior: "edit_speaker"},id: "message-#{message.id}", class: "edit_form" %>
						<div class="submit-edit-box">
							<%= submit_tag "送信", class: "edit_submit", id: "send-edit-submit-#{message.id}" %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<% if message.youtube_id.present? %>
			<% iframe = content_tag(
				:iframe,
				'',
				width: 560,
				height: 315,
				src: "https://www.YouTube.com/embed/#{message.youtube_id}",
				frameborder: 0,
				allowfullscreen: true,
				class: "youtube-container"
			) %>
			<%= content_tag(:div, iframe, class: "youtube-container2") %>
		<% end %>
		<% if message.image? %>
			<%= image_tag message.image.url, id: "message-image-#{message.id}" %>
		<% end %>
	</div>
</div>

<script>

	var edit_click_<%= message.id %> = true
	 $('#img-form-button-message-<%= message.id %>').click(function(){
	 	console.log("----");
	 	$('#img-value-form-message-<%= message.id %>').click();
	 });

	 $("#img-value-form-message-<%= message.id %>").on('change', function(){
	 	var img = document.getElementById("img-value-form-message-<%=  message.id %>").files[0];
	 	$('#file-name-message-<%= message.id %>').text(img.name);
	 });
	$("#edit_click-<%= message.id %>").click(function(){
		if(edit_click_<%= message.id %> == true){
			$('#edit_form_box_<%= message.id %>').css('display', 'block');
			$('#message-content-<%= message.id %>').css('display', 'none');
			$('#message-image-<%= message.id %>').css('display', 'none');
			edit_click_<%= message.id %> = false
		}else if(edit_click_<%= message.id %> == false){
			$('#edit_form_box_<%= message.id %>').css('display', 'none');
			$('#message-content-<%= message.id %>').css('display', 'block');
			$('#message-image-<%= message.id %>').css('display', 'block');
			
			edit_click_<%= message.id %> = true
		}
	});

</script>