<% if user_signed_in? %>
	<% if message.login? %>
		<button id="message-form-<%= message.id %>-button" class="reply-message-on"><%= image_tag "reply_icon.png" %></button>
	<% end %>

<% end %>

<script>
	var formchat_click_<%= message.id %> = false;
		$('#img-form-button-message-<%= message.id %>-go').click(function(){
	 	$('#img-value-form-message-<%= message.id %>-go').click();
	});
	 $("#img-value-form-message-<%= message.id %>-go").on('change', function(){
	 	var img_<%= message.id %> = document.getElementById("img-value-form-message-<%= message.id %>-go").files[0];
	 	$('#file-name-message-<%= message.id %>-go').text(img_<%= message.id %>.name);
	 });
	$('#message-form-<%= message.id %>-button').click(function(){
		var reply_form_chat = document.getElementById("edit_form_box_<%= message.id %>");
		var button_go = document.getElementById("edit_click-<%= message.id %>");

		if(formchat_click_<%= message.id %> == false){
			$("#formchat-reply-<%= message.id %>").css('display', 'block');
			formchat_click_<%= message.id %> = true;
			if(reply_form_chat.style.display == "block"){
				button_go.click();
			}
		}else{
			$("#formchat-reply-<%= message.id %>").css('display', 'none');
			formchat_click_<%= message.id %> = false;

		}
	});


	 

</script>