<div class="message_reply-support" id="message_reply-support-<%= message_reply.id %>">
	<div class="message_reply" id="message_reply-<%= message_reply.id %>">
		<div class="usernameAndTimeBox">
			<% if message_reply.user_id.present? %>
				<%= link_to message_reply.user.name, user_path(message_reply.user_id),class: "message_reply_username" %>
			<% end %>
			<% if message_reply.bot == true && message_reply.user_id.blank? %>
				<p class="message_reply_username">BOT</p>
			<% end %>
			<% if message_reply.bot == false && message_reply.user_id.blank? %>
				<p class="message_reply_username">名無し</p>
			<% end %>
			<div class="usettimeAndDeleteBox">
				<p class="agomessage_reply"><%= time_ago_in_words(message_reply.created_at) + "前" %></p>
				<% if user_signed_in? %>
					<% if message_reply.user_id == current_user.id %>
						<button id="reply-delete-button-<%= message_reply.id %>" class="delete_btn_reply" data-id="<%= message_reply.id %>">
							<%= image_tag "ゴミ箱のアイコン素材.png", class: "deleteBtnImage", id: "#{message_reply.id}" %>
						</button>
						<button id="edit_click-reply-<%= message_reply.id %>" class="edit_click">
							<%= image_tag "鉛筆のアイコン素材.png"%>
						</button>
					<% end %>
				<% end %>
				<% if message_reply.edit_right == true %>
					<p class="finished_editing">(編集済み)</p>
				<% end %>
			</div>

		</div>
		<div id="message_reply-<%= message_reply.id %>-box">
			<div id="message_reply-content-<%= message_reply.id %>" class="message_reply-contents">
				<%= raw Rinku.auto_link(simple_format(h(message_reply.content), class: "message_reply_content rinku-auto-link", id: "message_reply-link-#{message_reply.id}"), :all,'target="_blank"') %>
			</div>
			<% if user_signed_in? %>
				<% if current_user.id == message_reply.user_id %>
 					<div id="edit_form_box_reply_<%= message_reply.id %>" class="editform">
 						<% if message_reply.login? %>
							<div class="against-message-show-box">編集</div>
						<% end %>
						<div class="imguploader edit_image_uploader">
							<%= form_with model: message_reply, local: false do |f| %>
								<%= f.file_field :file, id: "img-value-form-message_reply-#{message_reply.id}", class: "img-value" %>
								<div class="file-name-box">
										<p id="file-name-message_reply-<%= message_reply.id %>" class="file-name-choose-message_reply"><%= message_reply.file.identifier if message_reply.file? %></p>
								</div>
								<div class="file-option-box">
									<span id="img-form-button-message_reply-<%= message_reply.id %>" class="file-button-choose">
										<p class="file-choose-text">ファイルを選択</p>
									</span>

									<%= f.hidden_field :room_id, value: message_reply.room_id %>
									<%= f.submit "ファイルをアップロード" %>
								</div>
							<% end %>
						</div>
						<%= text_area_tag :content, message_reply.content ,data: {behavior: "edit_reply_speaker"},id: "message_edit_reply-#{message_reply.id}", class: "edit_form" %>
						<div class="submit-edit-box">
							<%= submit_tag "送信", class: "edit_submit reply-edit-submit", id: "send-edit-submit-#{message_reply.id}",data: {id: message_reply.id} %>
						</div>
					</div>
				<% end %>
			<% end %>
		</div>
		<% if message_reply.youtube_id.present? %>
			<% iframe = content_tag(
				:iframe,
				'',
				width: 560,
				height: 315,
				src: "https://www.YouTube.com/embed/#{message_reply.youtube_id}",
				frameborder: 0,
				allowfullscreen: true,
				class: "youtube-container",
				id: "youtube-container-#{message_reply.id}"
			) %>
			<%= content_tag(:div, iframe, class: "youtube-container2") %>
		<% end %>
		<% if message_reply.file? %>
			<div class="file-box-message" id="file-box-message_reply-<%= message_reply.id %>-box">
				<p class="file_name_message"><%= message_reply.file.identifier %></p>
				<%= message_reply_url(message_reply.file.url,message_reply.file.identifier,message_reply.room.id, message_reply.id) %>
			</div>
		<% end %>
	</div>
<script>

	var edit_reply_click_<%= message_reply.id %> = true
	$("#edit_click-reply-<%= message_reply.id %>").click(function(){
		if(edit_reply_click_<%= message_reply.id %> == true){
			$('#edit_form_box_reply_<%= message_reply.id %>').css('display', 'block');
			edit_reply_click_<%= message_reply.id %> = false
		}else if(edit_reply_click_<%= message_reply.id %> == false){
			$('#edit_form_box_reply_<%= message_reply.id %>').css('display', 'none');
			edit_reply_click_<%= message_reply.id %> = true
		}
	});
	$('#img-form-button-message_reply-<%= message_reply.id %>').click(function(){
	 	$('#img-value-form-message_reply-<%= message_reply.id %>').click();
	});
	 $("#img-value-form-message_reply-<%= message_reply.id %>").on('change', function(){
	 	var img_<%= message_reply.id %> = document.getElementById("img-value-form-message_reply-<%= message_reply.id %>").files[0];

	 	$('#file-name-message_reply-<%= message_reply.id %>').text(img_<%= message_reply.id %>.name);
	 });
</script>

</div>


