<div class="new_rooms_form_box">
	<%= form_with model: @room, local: true do |f| %>
		<%= render 'layouts/error', model: f.object %>
		<%= f.text_field :title, class: "room_text_field", placeholder: "タイトルを入力" %><br>
		<div class="radioBox">
			<div class="privateBox" id="private-box-1">
				<%= f.label :public, value: "非公開", class: "public_Text"%>
				<%= f.radio_button :public, false ,id: "public-radio-button-1", class: "radio_public_button"%>
			</div>
			<div class="publicBox" id="public-box-1">
				<%= f.label :public, value: "公開", class: "public_Text" %>
				<%= f.radio_button :public, true, id: "public-radio-button-2",class: "radio_public_button" %><br>
			</div>
		</div>
		<div class="room_settings">
			<div class="privateBox" id="reading-box-1">
				<%= f.label :reading, value: "既読機能オフ", class: "public_Text" %>
				<%= f.radio_button :reading, false,id: "public-radio-button-3", class: "radio_public_button" %>
			</div>

			<div class="publicBox" id="reading-box-2">
				<%= f.label :reding, value: "既読機能オン", class: "public_Text" %>
				<%= f.radio_button :reading, true, id: "public-radio-button-4",class: "radio_public_button" %>
			</div>
		</div>
		<!-- 非公開ルームだった場合はルームパスワード打てるようにする -->
		<div class="submit_area_box">
			<%= f.submit "送信",  class: "room_submit" %>
		</div>
	<% end %>
</div>

<style>
	input[type="radio"]{
		width: 20px;
	    height: 20px;
	    cursor: pointer;
	    margin-bottom: 10px;
	}
	.public_Text:hover{
		cursor: pointer;
	}
	.privateBox:hover{
		cursor: pointer;
	}
	.publicBox:hover{
		cursor: pointer;
	}
</style>

<script>
	$('#private-box-1').click(function(){
		document.getElementById('public-radio-button-1').click();
	});
	$('#public-box-1').click(function(){
		document.getElementById('public-radio-button-2').click();
	});
	$('#reading-box-1').click(function(){
		document.getElementById("public-radio-button-3").click();
	});
	$('#reading-box-2').click(function(){
		document.getElementById("public-radio-button-4").click();
	});
</script>